/******************* general *******************/
@use '_base';

/******************* alert *******************/

.success, .error{
    position: fixed;
    top: 1rem;
    left: 10%;
    right: 10%;
    text-align: center;
    color: #fff;
    text-align: center;
    padding: 0.2rem;
    display: none;
}

.success{
    background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #ADC865 50%,  rgba(255,0,0,0) 100%);
}

.error{
    background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #E25B45 50%, rgba(255,0,0,0) 90%);
}


/******************* Media query *******************/
/* PC */
@media (min-width: 1024px) {
    .success, .error{
        top: 2.2rem;
        left: 40%;
        right: 40%;
    }
}
