/******************* general *******************/

:root{
    --orange-charte: #f28f18;
    --orange-select: rgb(255, 207, 149);
    --orange-clair: rgb(255, 242, 225);
    --vert: #004f12;

    // gradient for food
    --red: #E25B45;
    --orange: #FF8357;
    --yellow: #FAC172;
    --blue: #89D5C9;
    --green: #ADC865;

    //font Pacifico
    --Pacifico: 'Pacifico', cursive;
}

body *{
    box-sizing: border-box;
    user-select: none;
}

body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    background: -webkit-linear-gradient(217deg, #E25B45, rgba(255,0,0,0) 70.71%),          
                -webkit-linear-gradient(127deg, #FAC172, rgba(0,255,0,0) 70.71%),            
                -webkit-linear-gradient(336deg, #ADC865, rgba(0,255,0,0) 70.71%);
}

section:not(:last-child){
    margin-bottom: 3rem ;
}

main{
    margin: 0 auto;
}

.content{
    padding: 3.3rem 0;
    border-radius: 10px;
}

.container{
    padding: 3.3rem 0;
}

hr{
    margin: 3rem 10rem;
}

/******************* Fonts *******************/

h1, h2, h3, h4, h5, nav, .btn {
    font-family: 'Pacifico', cursive;
    color: var(--vert);
    text-align: center;
    &::first-letter{
        text-transform: capitalize;
    }
}

*::first-letter {
    text-transform: capitalize;
}

h1{
    font-size: 2.3rem;
    line-height: 5rem;
    margin-bottom: 2rem;
}

h2{
    font-size: 1.5rem;
    line-height: 3rem;
    font-stretch: expanded;
    overflow: hidden;
    text-align: center;
        &:nth-child(1){
        &::first-letter{
            text-transform: capitalize;
        }
    }
    &::before,
    &::after {
        background-color: var(--vert);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 10%;
    }
    &::before {
        right: 1rem;
        margin-left: -10%;
    }
    &::after {
        left: 1rem;
        margin-right: -10%;
    }
}

h3{
    font-size: 1.2rem;
    line-height: 2.5rem;
}

a, a:active{
    text-decoration: none;
    color: inherit;
}

/******************* bouttons *******************/
// p .btn{
//     padding: 0;
// }
.btn{
    padding: 0.1rem 0.4rem;
        margin: auto;
        border: 1px solid transparent;
        border-radius: 20px;
        cursor: pointer;
        transition: all .5s ease-out;
        &:hover:not(#forgot){
            background: -webkit-linear-gradient(308deg, #E25B45, rgba(255,0,0,0) 70.71%),          
                -webkit-linear-gradient(127deg, #FAC172, rgba(0,255,0,0) 70.71%);
            color: #fff;
        }
}

.buttons{
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/******************* croix *******************/

/* .croix{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
} */
.croix-btn{
    border: solid 1px #fff;
    border-radius: 3px;
    color: #fff;
    background-color: var(--orange);
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all, 0.1s ease-in;
    position: absolute;
    top: 10px;
    right: 10px;
    &:hover, &:active, &:focus-visible{
        color: var(--orange);
        background-color: #fff;
    }
}
/* .croix button:focus-visible{
    display: inherit;
} */

/******************* form *******************/
form{
    label{
        text-transform: capitalize;
        font-weight: bold;
    }
    input:not(.btn, .file), form textarea, form select{
        border: none;
        border-radius: 5px;
        // box-shadow: 0px 0px 5px 1px #00000085;
    }
    // div:not(.log) {
    //     display: flex;
    //     flex-wrap: wrap;
    //     flex-direction: column;
    //     margin-bottom: 1rem;
    // }
}

/******************* short *******************/
.short{
    height: 13rem;
    overflow: hidden;
    background: linear-gradient(
        180deg,
        #000 70%,
        transparent 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/******************* hidden *******************/
.hidden{
    display: none;
}

/******************* timestamp *******************/
.timestamp {
    font-size: smaller;
    font-weight: bold;
    color: var(--vert);
    margin: 0;
    /* position: absolute;
    bottom: 0.5rem; */
}