/******************* home *******************/
@use '_base';

.home{
    // background-color: var(--orange);
    // padding: 1.5rem;
    // border-radius: 10px;
    &:target{
        scroll-margin-top: 5rem;
    }
    &:not(:last-child){
        height: 90vh;
    }
}

.title{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-around;
}

#home{
    background: url("../img/photo/OIG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    // display: flex;
    h1{
        margin: 0;
        &::after{
            content: url("../img/site/Logo pate.png");
        }
    }
    h2{
        margin-top: 0;
    }
    h3{
        text-align: left;
    }
    ul{
        padding: 0 1rem;
        margin: 0;
    }
    article{
        padding: 2rem 1.5rem;
        display: flex;
        background-color: rgba(255, 207, 149, 0.648);
        border-radius: 10px;
        width: 95%;
        p{
            text-align: justify;
            line-height: 1.5rem;
        }
        li{
            line-height: 1.8rem;
            &:nth-child(odd){
            list-style-image: url("../img/site/pateL.png");
            margin-right: 10px;
            }
            &:nth-child(even){
            list-style-image: url("../img/site/pateR.png");
            margin-left: 10px;
            }
        }
    }
    img{
        max-width: 50%;
        height: 100%;
        border-radius: 10px;
        margin-left: 1rem;
    }
}

.news-home{
    color: purple;
    img{
        width: 40%;
        height: 100%;
        border-radius: 10px;
    }
}