/******************* home *******************/
@use '_base';

main{
    overflow: hidden;
}

.home{
    padding-top: 4rem;
    &:target{
        scroll-margin-top: 5rem;
    }
    &:not(:last-child){
        height: 100vh;
    }
}


// Slide Home
#home{
    background: url("../img/photo/OIG.png");
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        margin: 0;
        &::after{
            content: url("../img/site/Logo pate.png");
        }
    }
    h2{
        margin-top: 0;
    }

    #title{
        padding: 0.8rem;
        background: radial-gradient(circle at 48.7% 44.3%, rgba(255, 255, 255, 0.49) 0%, rgba(252, 252, 252, 0) 80%);
        position: relative;
        &:hover:before {
            content: '';
            position: absolute;
            width: 200px;
            height: 100%;
            background-image: linear-gradient(
                120deg,
                rgba(255,255,255, 0) 30%,
                rgba(255,255,255, .8),
                rgba(255,255,255, 0) 70%
            );
            top: 0;
            left: -100px;
            animation: shine 5s infinite linear; /* Animation */
        }
    }

    article{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #logo{
        height: 10rem;
        margin: 2rem;
    }

    table{
        background-color: rgba(255, 207, 149, 0.648);
        padding: 1rem;
        margin: 0 2rem;
        border-collapse: collapse;
        border-radius: 10px;
        box-shadow: -4px 13px 15px 7px rgba(0,0,0,0.27);
        tr{
            height: 3rem;
            line-height: 1.8rem;
            &:nth-child(odd){
                td{
                    &:first-child{
                        text-align: left;
                    }
                    &:last-child{
                        text-align: right;
                    }
                }
            }
            &:nth-child(even){
                td{
                    &:first-child{
                        text-align: right;
                    }
                    &:last-child{
                        text-align: left;
                    }
                }
            }
        }
        td{
            padding: 0.5rem;
            &:nth-child(2){
            width: 80%;
            font-family: var(--Pacifico);
            font-size: 1.1rem;
            letter-spacing: 1px;
            color: var(--vert);
            text-align: justify;
            }
            &:first-child, &:last-child{
                width: 10%;
            }
        }
    }
}

// Slide Shop

// Slide News
.news-home{
    color: purple;
    img{
        width: 40%;
        height: 100%;
        border-radius: 10px;
    }
}