/******************* home *******************/
@use '_base';

.home{
    padding-top: 5rem;
    &:target{
        scroll-margin-top: 5rem;
    }
    &:not(:last-child){
        height: 100vh;
    }
}

#home{
    background: url("../img/photo/OIG.png");
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        margin: 0;
        &::after{
            content: url("../img/site/Logo pate.png");
        }
    }
    h2{
        margin-top: 0;
    }

    #title{
        padding: 0.8rem;
        background: radial-gradient(circle at 48.7% 44.3%, rgba(255, 255, 255, 0.49) 0%, rgba(252, 252, 252, 0) 80%);
    }

    table{
        background-color: rgba(255, 207, 149, 0.648);
        padding: 1rem;
        margin: 2rem;
        width: 30%;
        border-collapse: collapse;
        border-radius: 10px;
        tr{
            height: 3rem;
            line-height: 1.8rem;
            &:nth-child(odd){
                td{
                    &:first-child{
                        text-align: left;
                    }
                    &:last-child{
                        text-align: right;
                    }
                }
            }
            &:nth-child(even){
                td{
                    &:first-child{
                        text-align: right;
                    }
                    &:last-child{
                        text-align: left;
                    }
                }
            }
        }
        td{
            padding: 0.5rem;
            &:nth-child(2){
            width: 80%;
            font-family: var(--Pacifico);
            font-size: 1.1rem;
            color: var(--vert);
            text-align: justify;
            }
            &:first-child, &:last-child{
                width: 10%;
            }
        }
    }
}

.news-home{
    color: purple;
    img{
        width: 40%;
        height: 100%;
        border-radius: 10px;
    }
}