/******************* general *******************/
@use '_base';
@use '_animations';

/******************* alert *******************/

.success{
    position: fixed;
    top: 1rem;
    left: 10%;
    right: 10%;
    text-align: center;
    color: #fff;
    background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #ADC865 50%,  rgba(255,0,0,0) 100%);
    text-align: center;
    padding: 0.2rem;
}


/******************* loggin *******************/

#log-window, #register-window{
    display: none;
}

.log{
    // display: flex;
    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
    z-index: 100;
    .btn{
        width: 100%;
        margin: 0;
    }
    form{
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        input:not(.checkbox){
            width: 100%;
        }
        label{
            color: #fff;
        }
        .champs{
            margin-bottom: 1rem;
        }
    }
}

.error{
    color: #fff;
    background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #E25B45 50%, rgba(255,0,0,0) 90%);
    text-align: center;
}

.password{
    div{
        position: relative;
        overflow: hidden;
    }
    i{
        color: var(--vert);
        position: absolute;
        right: 0;
        width: 10%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 5px 5px 0;
    }
    a{
        display: inline-block;
        font-size: larger;
        text-align: right;
        width: 100%;
    }
}

.trans-btn{
    width: 80%;
    transition: all .5s ease-out;
    font-size: larger;
    margin: 2rem;
    p{
        display: block;
    }
    a{
        display: none;
    }
    &:hover{
        p{
            display: none;
        }
        a{
            display: block;
        }
    }
}

.close-btn{
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    z-index: 10000;
    font-size: 1rem;
    color: #fff;
    background: radial-gradient(circle at 48.7% 44.3%, rgba(255, 255, 255, 0.49) 0%, rgba(252, 252, 252, 0) 80%);
}



/******************* Media query *******************/
/* PC */
@media (min-width: 1024px) {
    /******************* alert *******************/
    .error{
        color: #fff;
        background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #E25B45 50%, rgba(255,0,0,0) 90%);
        text-align: center;
    }

    .success{
        top: 2.2rem;
        left: 40%;
        right: 40%;
    }

    /******************* loggin *******************/
    #modal{
        background-color: #ffffff57;
        backdrop-filter: blur(5px);
        position: fixed;
        background-size: 200%;
        top: 0;
        left: 0;
        right: 0;
        bottom: -10%;
        z-index: 200;
        display: none;
    }

    .log{
        width: 30vw;
        height: 60vh;
        flex-direction: column;
        align-items: center;
        margin: auto;
        position: relative;
        font-size: 0.7rem;
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--orange);
        box-shadow: 2px 2px 15px 2px #000000a3;
        .close-btn{
            position: absolute;
            &:hover{
                cursor: pointer;
                background: radial-gradient(circle at 48.7% 44.3%, rgba(255, 0, 0, 0.49) 0%, rgba(255, 0, 0, 0) 60%);
            }
        }

        form{
            height: 60%;
        }
    }

    .password{
        i{
            &:hover, &:active{
                background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #FAC172 25%);
            }
        }
        a{
            font-size: inherit;
        }
    }

    #forgot{
        border: 1px solid transparent;
        &:hover{
            color: #fff;
            background:-webkit-linear-gradient(127deg, #FAC172, rgba(0,255,0,0) 70.71%);
        }
    }

    .trans-btn{
        width: 80%;
        transition: all .5s ease-out;
        p{
            display: block;
        }
        a{
            display: none;
        }
        &:hover{
            p{
                display: none;
            }
            a{
                display: block;
            }
        }
    }
}