/******************* general *******************/
@use '_base';

/******************* alert *******************/

// .alert{
//     width: 20vw;
//     padding: 1rem;
//     border-radius: 5px;
//     background-color: var(--orange);
//     box-shadow: 2px 2px 15px 2px #000000a3;
// }
.error{
    color: red;
}

.success{
    color: green;
}


/******************* loggin *******************/

#modal{
    background-color: #ffffff57;
    backdrop-filter: blur(5px);
    position: fixed;
    background-size: 200%;
    top: 0;
    left: 0;
    right: 0;
    bottom: -10%;
    z-index: 200;
    display: none;
}

#log-window, #register-window{
    display: none;
}

.log{
    width: 50vw;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    font-size: 0.7rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--orange);
    box-shadow: 2px 2px 15px 2px #000000a3;
    z-index: 100;
    .btn{
        margin: 0 auto;
    }
    form{
        width: 80%;
        margin: auto;
        input{
            width: 100%;
        }
        div:not(.buttons){
            display: grid;
            justify-content: center;
        }
        div div {
            width: 50%;
            margin: 0;
        }
    }
}

.form-errors{
    text-align: center;
}


/******************* panier *******************/

#shopping-icon{
    position: fixed;
    top: 5rem;
    left: 15px;
    background-image: url('../img/basket-shopping-solid.svg');
    fill: red;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 40px;
    height: 40px;
    padding: 1rem;
    z-index: 100;
    border-radius: 100%;
    cursor: pointer;
    background-color: var(--orange);
    &:hover{
        background-color: #fff;
    }
}

#cart-window{
    display: none;
    position: absolute;
    width: 25rem;
    z-index: 10;
    margin: 0;
    background-color: #fff;
    table{
        background-color: rgb(255, 242, 225);
        border: 1px solid rgb(200, 200, 200);
        text-align: center;
        cursor: default;
        border-collapse: collapse;
        width: 100%;
        &, td{
            padding: 0.3rem;
        }
        th {
            background-color: rgb(255, 207, 149);
        }
    }
    .quantity{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    .btn{
        padding: 0 0.2rem;
        margin: 0;
    }
}

.cart-btn{
        border: solid var(--orange) 1px;
        border-radius: 100%;
        height: 1rem;
        width: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background-color: var(--orange);
            color: #fff;
        }
    }