/******************* general *******************/
@use '_base';

/******************* alert *******************/

.success{
    position: fixed;
    top: 2.2rem;
    left: 40%;
    right: 40%;
    text-align: center;
    color: #fff;
    background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #ADC865 50%,  rgba(255,0,0,0) 100%);
    text-align: center;
    padding: 0.2rem;
}


/******************* loggin *******************/

#log-window, #register-window{
    display: none;
}

.log{
    // display: flex;
    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--orange);
    z-index: 100;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
    z-index: 100;
    .btn{
        width: 100%;
        margin: auto;
    }
    form{
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input:not(.checkbox){
            width: 100%;
        }
        label{
            color: #fff;
        }
        .champs{
            margin-bottom: 1rem;
        }
    }
}


.error{
    color: #fff;
    background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #E25B45 50%, rgba(255,0,0,0) 90%);
    text-align: center;
}

.password{
    div{
        position: relative;
        overflow: hidden;
    }
    i{
        color: var(--vert);
        position: absolute;
        right: 0;
        width: 10%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        &:hover, &:active{
            background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #FAC172 25%);
        }
    }
    a{
        display: inline-block;
        text-align: right;
        width: 100%;
    }
}

#forgot:hover{
    background:-webkit-linear-gradient(127deg, #FAC172, rgba(0,255,0,0) 70.71%);
}


.trans-btn{
    width: 80%;
    transition: all .5s ease-out;
    p{
        display: block;
    }
    a{
        display: none;
    }
    &:hover{
        p{
            display: none;
        }
        a{
            display: block;
        }
    }
}

/******************* croix *******************/

// .croix-btn{
//     border: solid 1px #fff;
//     border-radius: 3px;
//     color: #fff;
//     background-color: var(--orange);
//     width: 1.2rem;
//     height: 1.2rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     transition: all, 0.1s ease-in;
//     position: absolute;
//     top: 10px;
//     right: 10px;
//     &:hover, &:active, &:focus-visible{
//         color: var(--orange);
//         background-color: #fff;
//     }
// }

.close-btn{
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    z-index: 10000;
    font-size: 1rem;
    color: #fff;
    background: radial-gradient(circle at 48.7% 44.3%, rgba(255, 255, 255, 0.49) 0%, rgba(252, 252, 252, 0) 80%);
}



/******************* Media query *******************/
// Mobiles
@media (max-width: 767px) {
    
}

/* Tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
    
}

/* PC */
@media (min-width: 1024px) {
    /******************* alert *******************/

    // .alert{
    //     width: 20vw;
    //     padding: 1rem;
    //     border-radius: 5px;
    //     background-color: var(--orange);
    //     box-shadow: 2px 2px 15px 2px #000000a3;
    // }
    // .error{
    //     color: red;
    // }

    .success{
        position: fixed;
        top: 2.2rem;
        left: 40%;
        right: 40%;
        text-align: center;
        color: #fff;
        background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #ADC865 50%,  rgba(255,0,0,0) 100%);
        text-align: center;
        padding: 0.2rem;
    }


    /******************* loggin *******************/

    #modal{
        background-color: #ffffff57;
        backdrop-filter: blur(5px);
        position: fixed;
        background-size: 200%;
        top: 0;
        left: 0;
        right: 0;
        bottom: -10%;
        z-index: 200;
        display: none;
    }

    #log-window, #register-window{
        display: none;
    }

    .log{
        width: 30vw;
        height: 50vh;
        flex-direction: column;
        align-items: center;
        margin: auto;
        position: absolute;
        top: 20%;
        left: 20%;
        right: 20%;
        font-size: 0.7rem;
        padding: 1rem;
        border-radius: 5px;
        background-color: var(--orange);
        box-shadow: 2px 2px 15px 2px #000000a3;
        z-index: 100;
        .btn{
            width: 100%;
            margin: auto;
        }
        form{
            width: 80%;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            input:not(.checkbox){
                width: 100%;
            }
            label{
                color: #fff;
            }
            .champs{
                margin-bottom: 1rem;
            }
        }
    }


    .error{
        color: #fff;
        background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #E25B45 50%, rgba(255,0,0,0) 90%);
        text-align: center;
    }

    .password{
        div{
            position: relative;
            overflow: hidden;
        }
        i{
            color: var(--vert);
            position: absolute;
            right: 0;
            width: 10%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            &:hover, &:active{
                background: -webkit-linear-gradient(0deg, rgba(255,0,0,0) 0%, #FAC172 25%);
            }
        }
        a{
            display: inline-block;
            text-align: right;
            width: 100%;
        }
    }

    #forgot:hover{
        background:-webkit-linear-gradient(127deg, #FAC172, rgba(0,255,0,0) 70.71%);
    }


    .trans-btn{
        width: 80%;
        transition: all .5s ease-out;
        p{
            display: block;
        }
        a{
            display: none;
        }
        &:hover{
            p{
                display: none;
            }
            a{
                display: block;
            }
        }
    }
}