/******************* Rating Stars *******************/
@-moz-document url-prefix(){
    .star-rating input:checked ~ label::before{
        font-size: 36px;
        line-height: 21px;
    }
}

.star-rating{
    position: relative;
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 2px auto;
    input {
        display: none;
        &:checked ~ label::before{
            content: '\2605';
        }
    }
    label {
        width: 30px;
        height: 30px;
        font-family: Verdana;
        font-size: 30px;
        color: orange;
        transition: 0.2s ease;
        &:hover{
            color: orangered;
            transition: 0.2s ease;
        }
        &:active::before{
            transform: scale(1.1);
        }
        &::before{
            content: '\2606';
            position: absolute;
            top: 0;
            line-height: 26px;
        }
    }
}



/******************* Rating Cook *******************/
/* Cook-hat Flaticon = https://www.flaticon.com/free-icons/chef */

.cook-rating{
    position: relative;
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 2px auto;
    label {
        width: 20px;
        height: 20px;
        font-size: 10px;
        color: orange;
        &::before{
            background-image: url('../img/chef.png');
            background-size: 20px 20px ;
            display: inline-block;
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            line-height: 26px;
            width: 20px;
            height: 20px;
        }
    }
    input {
        display: none;
        &:checked ~ label::before{
            background-image: url('../img/chef_strong.png');
            background-size: 20px 20px ;
            display: inline-block;
            content: "";
            width: 20px;
            height: 20px;
        }
    }
}