/******************* shop *******************/
@use '_base';


/******************* home *******************/
.shop-tuile{
    height: 8rem;
    width: 8rem;
    overflow: hidden;
    border: solid 1px transparent;
    border-radius: 10px;
    position: relative;
    img{
        object-fit: cover;
        height: 8rem;
        width: 8rem;
        position: relative;
    }
    figcaption{
        h4, h5 {
            display: none;
        }
        h3 {
            font-size: 1rem;
            letter-spacing: 1px;
        }
        .title-tuile{
            position: absolute;
            bottom: 0;
            left: 3%;
            width: 90%;
            margin: 0.2rem;
            background-color: rgba(255, 255, 255, 0.4156862745);
            line-height: 1.5rem;
            border-radius: 8px;
        }
    }
}

/******************* index *******************/

.shop-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    .filterBox{
        text-align: center;
        #filter{
            flex-direction: column;
            align-items: flex-start;
            margin: 0.5rem;
            padding: 0.5rem;
            background-color: #ffffff6a;
            backdrop-filter: blur(4px);
            border-radius: 10px;
        }
    }
}

.shop-cat{
    display: flex;
    flex-direction: column;
    div{
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, 9rem);
        grid-template-rows: repeat(auto-fill, 9rem);
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
    }
    .btn{
        border: 1px solid;
    }
}

#filter{
    display: flex;
    flex-direction: column;
}

/******************* detail *******************/

.shop-detail{
    display: flex;
    justify-content: center;
    img{
        width: 40%;
        object-fit: cover;
        border-radius: 10px 0 0 10px;
    }
    figcaption{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 40%;
        background-color: #ffffff86;
        border-radius: 0 10px 10px 0;
    }
}

/******************* Media query *******************/

/* Tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* PC */
@media (min-width: 1024px) {
    
/******************* home *******************/
.shop-tuile{
    height: 12rem;
    width: 12rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    img{
        height: 12rem;
        width: 12rem;
        position: relative;
        transition: all .5s ease;
    }
    &:hover img{
        transform: scale(1.2);
    }
    figcaption{
        display: flex;    
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: #ffffff86;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 1rem;
        text-align: justify;
        opacity: 0;
        transition: all .5s ease;
        h4, h5 {
            display: inline;
            margin: 1rem;
        }
        .title-tuile{
            position: unset;
            background-color: transparent;
            margin: 1rem;
        }
    }
    &:hover figcaption{
        opacity: .9;
    }
}

/******************* index *******************/

.shop-filter{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
        position: relative;
    h1{
        grid-area: 1 / 2 / 2 / 5;
    }
    .filterBox{
        grid-area: 1 / 5 / 2 / 6;
            position: absolute;
        #filterBtn{
            position: fixed;
        }
        #filter{
            top: 9.5rem;
            position: fixed;
        }
    }
}

.shop-cat div{
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-template-rows: repeat(auto-fill, 15rem);
}



/******************* detail *******************/

.shop-detail{
    display: flex;
    justify-content: center;
    img{
        width: 40%;
        object-fit: cover;
        border-radius: 10px 0 0 10px;
    }
    figcaption{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        width: 40%;
        background-color: #ffffff86;
        border-radius: 0 10px 10px 0;
    }
}

}