/******************* user *******************/
@use '_base';

.userProfil{
    width: 80%;
    margin: auto;
    div{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    form{
        display: flex;
        // justify-content: center;
        // align-items: center;
        // div{
        //     width: 60%;
        // }
    }
}
