/******************* user *******************/
@use '_base';

.userProfil{
    width: 90%;
    margin: auto;
    .profil{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: #ffffff86;
        border-radius: 10px;
        h2{
            border-width: 3px;
            padding: 0.8rem;
            border-style: solid;
            border-image: linear-gradient(to right, var(--green), var(--orange)) 1;
            border-left: none;
            border-right: none;
            &::before, &::after{
                content: none;
            }
        }
        h3{
            font-size: 1.3rem;
            letter-spacing: 1px;
        }
        form{
            margin: 1rem;
            padding: 1rem;
            text-align: center;
            background-color: #ffffff86;
            border-radius: 10px;
            h3, div{
                margin: 1rem;
            }
            .text-input{ 
                font-size: 1rem;
                padding: 0.2rem 0.5rem;
                margin: 0.5rem;
                background-color: #ffffff86;
                box-shadow: inset 4px 4px 15px 0px #d8d8d8e5, inset 6px 13px 14px -23px #e7e7e7e5;
            }
            p{
                font-style: italic;
            }
            .btn{
                margin: 1rem;
            }
        }
        #newsletter{
            label{
                font-weight: normal;
                text-transform: none;
            }
        }
        
    }
}


/* Tablettes */
@media (min-width: 768px) and (max-width: 1023px) {
    /******************* detail *******************/
}

/* PC */
@media (min-width: 1024px) {
    .userProfil{
        width: 80%;
        margin: auto;
        .profil{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            background-color: #ffffff86;
            border-radius: 10px;
            section{
                width: 80%;
                margin: auto;
            }
        }
        form{
            margin: 1rem;
            padding: 1rem;
            text-align: center;
            background-color: #ffffff86;
            border-radius: 10px;
            h3, div{
                margin: 1rem;
            }
            .text-input{ 
                padding: 0.2rem 0.5rem;
                background-color: #ffffff86;
                box-shadow: inset 4px 4px 15px 0px #d8d8d8e5, inset 6px 13px 14px -23px #e7e7e7e5;
            }
            p{
                font-style: italic;
            }
        }
        #newsletter{
            label{
                font-weight: normal;
                text-transform: none;
            }
        }
    }



    
}
