/******************* dashboard *******************/
@use 'base';
@use 'rating';
@use 'switch';
@use 'tooltip';

/******************* table à onglets *******************/
.menu-tabs{
	background-color: white;
	max-width: 960px;
	margin: 2rem auto;
	ul{
		display: flex;
		padding-left:0;
		margin:0;
		list-style-type: none;
	}
	ul li{
		flex: 0 0 25%;
		label{
			display: flex;
			position: relative;
			cursor: pointer;
			height: 4rem;
			align-items: center;
			justify-content:center;
			transition: background-color .4s;
			background-color: #e5e5e5;
			&::before,
			&::after{
				position:absolute;
				content:'';
				height:4px;
				width:100%;
				top:0px;
			}
			&::before{
				background-color: #d1d1d1;
			}
			&::after{
				transform-origin: left;
				transition: transform .4s;
				transform: scalex(0)
			}	
		}
		label span{
			display:inline-block;
			max-width:90%;
			overflow:hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	input:nth-of-type(1):checked ~ ul li:nth-child(1) label::after,
	input:nth-of-type(2):checked ~ ul li:nth-child(2) label::after,
	input:nth-of-type(3):checked ~ ul li:nth-child(3) label::after,
	input:nth-of-type(4):checked ~ ul li:nth-child(4) label::after{
		transform:scalex(1);
		background-color:#6753ea;
	}	

	input:nth-of-type(1):checked ~ ul > li:nth-child(1) > label,
	input:nth-of-type(2):checked ~ ul > li:nth-child(2) > label,
	input:nth-of-type(3):checked ~ ul > li:nth-child(3) > label,
	input:nth-of-type(4):checked ~ ul > li:nth-child(4) > label{
		cursor: default;
		background-color: initial;
	}		

	input:nth-of-type(1):checked ~ .contenu-tabs > .section-tab:nth-child(1),
	input:nth-of-type(2):checked ~ .contenu-tabs > .section-tab:nth-child(2),
	input:nth-of-type(3):checked ~ .contenu-tabs > .section-tab:nth-child(3),
	input:nth-of-type(4):checked ~ .contenu-tabs > .section-tab:nth-child(4){
		display:grid;
	}	
}

.contenu-tabs{
	min-height:400px;
	padding:1rem;
}	

.section-tab{
	display:none;
	animation: anim-tabs .4s ease-in-out;
	margin-top:2rem;
}	

@keyframes anim-tabs{
	from{
		opacity: 0;
		transform: translatey(5%)
	}
	to{
		opacity:1
    }
}


/******************* tabeaux *******************/
.dashboard-table{
	margin-bottom: 1rem;
	border-collapse: collapse;

	&, th, td{
		border: 1px solid rgb(200, 200, 200);
		text-align: center;
		cursor: default;
	}

	thead{
		background-color: var(--orange);
		color: #fff;
	}

	tbody>tr:hover {
		background-color: rgb(255, 207, 149);
	}

	td a{
		transition: all 1s ease-out;
		&:hover{
			color: red;
		}
	}
}