/******************* Rating Stars *******************/
@-moz-document url-prefix(){
    .star-rating input:checked ~ label::before{
        font-size: 36px;
        line-height: 21px;
    }
}

.star-rating{
    position: relative;
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 2px auto;
}

.star-rating input {
    display: none;
}

.star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Verdana;
    font-size: 30px;
    color: orange;
    transition: 0.2s ease;
}
.star-rating label:hover{
    color: orangered;
    transition: 0.2s ease;
}
.star-rating label:active::before{
    transform: scale(1.1);
}

.star-rating label::before{
    content: '\2606';
    position: absolute;
    top: 0;
    line-height: 26px;
}

.star-rating input:checked ~ label::before{
    content: '\2605';
}


/******************* Rating Cook *******************/
/* Cook-hat Flaticon = https://www.flaticon.com/free-icons/chef */

.cook-rating{
    position: relative;
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 2px auto;
}

.cook-rating input {
    display: none;
}

.cook-rating > label {
    width: 30px;
    height: 30px;
    font-family: Verdana;
    font-size: 30px;
    color: orange;
}

.cook-rating label::before{
    content: url('/public/img/chef.png');
    position: absolute;
    top: 0;
    line-height: 26px;
}

.cook-rating input:checked ~ label::before{
    content: url("/public/img/chef_strong.png");
}