/******************* user *******************/
@use 'base';

.user-profil{
    width: 80%;
    margin: auto;
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            width: 60%;
        }
    }
}