@charset "UTF-8";
/******************* general *******************/
:root {
  --orange-charte: #f28f18;
  --orange-select: rgb(255, 207, 149);
  --orange-clair: rgb(255, 242, 225);
  --vert: #004f12;
  --red: #E25B45;
  --orange: #FF8357;
  --yellow: #FAC172;
  --blue: #89D5C9;
  --green: #ADC865;
  --Pacifico: "Pacifico", cursive;
}

body * {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  background: -webkit-linear-gradient(217deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%), -webkit-linear-gradient(336deg, #ADC865, rgba(0, 255, 0, 0) 70.71%);
}

section:not(:last-child) {
  margin-bottom: 3rem;
}

main {
  margin: 0 auto;
}

.content {
  border-radius: 10px;
}

.container {
  padding: 3.3rem 0;
}

hr {
  margin: 3rem 10rem;
}

/******************* Fonts *******************/
h1, h2, h3, h4, h5, nav, .btn {
  font-family: "Pacifico", cursive;
  color: var(--vert);
  text-align: center;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, nav::first-letter, .btn::first-letter {
  text-transform: capitalize;
}

*::first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 2.3rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-stretch: expanded;
  overflow: hidden;
  text-align: center;
}

h2:nth-child(1)::first-letter {
  text-transform: capitalize;
}

h2::before, h2::after {
  background-color: var(--vert);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

h2::before {
  right: 1rem;
  margin-left: -10%;
}

h2::after {
  left: 1rem;
  margin-right: -10%;
}

h3 {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

a, a:active {
  text-decoration: none;
  color: inherit;
}

/******************* bouttons *******************/
.btn {
  padding: 0.1rem 0.4rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover:not(#forgot) {
  background: -webkit-linear-gradient(308deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%);
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/******************* croix *******************/
/* .croix{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
} */
.croix-btn {
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  background-color: var(--orange);
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all, 0.1s ease-in;
  position: absolute;
  top: 10px;
  right: 10px;
}

.croix-btn:hover, .croix-btn:active, .croix-btn:focus-visible {
  color: var(--orange);
  background-color: #fff;
}

/* .croix button:focus-visible{
    display: inherit;
} */
/******************* form *******************/
form label {
  text-transform: capitalize;
  font-weight: bold;
}

form input:not(.btn, .file), form form textarea, form form select {
  border: none;
  border-radius: 5px;
}

/******************* short *******************/
.short {
  height: 13rem;
  overflow: hidden;
  background: linear-gradient(180deg, #000 70%, transparent 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* hidden *******************/
.hidden {
  display: none;
}

/******************* timestamp *******************/
.timestamp {
  font-size: smaller;
  font-weight: bold;
  color: var(--vert);
  margin: 0;
  /* position: absolute;
  bottom: 0.5rem; */
}

.disabled {
  color: transparent;
}

.disabled:hover {
  cursor: default;
}

/******************* general *******************/
/******************* navbar *******************/
nav {
  position: fixed;
  width: 100%;
  height: 2rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.4156862745);
  backdrop-filter: blur(4px);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
nav ul, nav li, nav a {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
nav li {
  padding: 0.1rem 0.4rem;
  margin: auto;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
nav li:hover:not(.dropdown, .dropdown-menu, .disabled) {
  background: -webkit-linear-gradient(40deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%);
  color: #fff;
}
nav .pages {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .title {
  width: 40%;
  overflow: hidden;
  text-align: center;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
}
nav .title::before, nav .title::after {
  background-color: var(--vert);
  content: "";
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}
nav .title::before {
  right: 1rem;
  margin-left: -10%;
}
nav .title::after {
  left: 1rem;
  margin-right: -10%;
}
nav .title a {
  display: flex;
  white-space: nowrap;
  align-items: baseline;
}
nav .title a::after {
  content: "";
  background-image: url("../img/site/Logo pate.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 0.5rem;
  width: 0.8rem;
}
nav .account {
  width: 30%;
  display: flex;
  align-items: flex-end;
  text-align: right;
  justify-content: space-around;
}

.dropdown {
  position: relative;
}

.dropdown-toggle::after {
  content: "⯆";
}

.dropdown-menu {
  display: none;
  position: absolute;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  width: 10rem;
  border: 1px solid var(--orange-clair);
  background-color: rgba(255, 255, 255, 0.9098039216);
}
.dropdown-menu li:hover {
  background-color: #fff;
}

/******************* general *******************/
:root {
  --orange-charte: #f28f18;
  --orange-select: rgb(255, 207, 149);
  --orange-clair: rgb(255, 242, 225);
  --vert: #004f12;
  --red: #E25B45;
  --orange: #FF8357;
  --yellow: #FAC172;
  --blue: #89D5C9;
  --green: #ADC865;
  --Pacifico: "Pacifico", cursive;
}

body * {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  background: -webkit-linear-gradient(217deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%), -webkit-linear-gradient(336deg, #ADC865, rgba(0, 255, 0, 0) 70.71%);
}

section:not(:last-child) {
  margin-bottom: 3rem;
}

main {
  margin: 0 auto;
}

.content {
  border-radius: 10px;
}

.container {
  padding: 3.3rem 0;
}

hr {
  margin: 3rem 10rem;
}

/******************* Fonts *******************/
h1, h2, h3, h4, h5, nav, .btn {
  font-family: "Pacifico", cursive;
  color: var(--vert);
  text-align: center;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, nav::first-letter, .btn::first-letter {
  text-transform: capitalize;
}

*::first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 2.3rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-stretch: expanded;
  overflow: hidden;
  text-align: center;
}

h2:nth-child(1)::first-letter {
  text-transform: capitalize;
}

h2::before, h2::after {
  background-color: var(--vert);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

h2::before {
  right: 1rem;
  margin-left: -10%;
}

h2::after {
  left: 1rem;
  margin-right: -10%;
}

h3 {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

a, a:active {
  text-decoration: none;
  color: inherit;
}

/******************* bouttons *******************/
.btn {
  padding: 0.1rem 0.4rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover:not(#forgot) {
  background: -webkit-linear-gradient(308deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%);
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/******************* croix *******************/
/* .croix{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
} */
.croix-btn {
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  background-color: var(--orange);
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all, 0.1s ease-in;
  position: absolute;
  top: 10px;
  right: 10px;
}

.croix-btn:hover, .croix-btn:active, .croix-btn:focus-visible {
  color: var(--orange);
  background-color: #fff;
}

/* .croix button:focus-visible{
    display: inherit;
} */
/******************* form *******************/
form label {
  text-transform: capitalize;
  font-weight: bold;
}

form input:not(.btn, .file), form form textarea, form form select {
  border: none;
  border-radius: 5px;
}

/******************* short *******************/
.short {
  height: 13rem;
  overflow: hidden;
  background: linear-gradient(180deg, #000 70%, transparent 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* hidden *******************/
.hidden {
  display: none;
}

/******************* timestamp *******************/
.timestamp {
  font-size: smaller;
  font-weight: bold;
  color: var(--vert);
  margin: 0;
  /* position: absolute;
  bottom: 0.5rem; */
}

.disabled {
  color: transparent;
}

.disabled:hover {
  cursor: default;
}

/******************* switch toggle *******************/
.switch {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 20px;
  cursor: pointer;
  overflow: hidden;
}

.switch input {
  position: absolute;
  top: -15px;
  top: -15px;
  width: 0;
  height: 0;
}

.switch input + span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #99b4df;
  border-radius: 10px;
}

.switch input + span:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.5s;
}

.switch input:checked + span {
  background: #346abf;
}

.switch input:checked + span:before {
  left: 17px;
}

/******************* tooltip *******************/
.aide {
  position: relative;
  /* aide à gauche */
  /* fleche */
}

.aide:before {
  content: attr(data-text);
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 15px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #000;
  color: #fff;
  text-align: center;
  display: none;
}

.aide.left:before {
  /* reset defaults */
  left: initial;
  margin: initial;
  /* set new values */
  right: 100%;
  margin-right: 15px;
}

.aide:after {
  content: "";
  position: absolute;
  /* position tooltip correctly */
  left: 100%;
  margin-left: -5px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%);
  /* the arrow */
  border: 10px solid #000;
  border-color: transparent black transparent transparent;
  display: none;
}

.aide.left:after {
  /* reset defaults */
  left: initial;
  margin-left: initial;
  /* set new values */
  right: 100%;
  margin-right: -5px;
  border-color: transparent transparent transparent black;
}

.aide:hover:before, .aide:hover:after {
  display: block;
}

/******************* dashboard *******************/
/******************* table à onglets *******************/
.menu-tabs {
  max-width: 960px;
  margin: 2rem auto;
}
.menu-tabs ul {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  background-color: transparent;
}
.menu-tabs ul li {
  flex: 0 0 25%;
}
.menu-tabs ul li label {
  display: flex;
  position: relative;
  outline: none;
  border: solid 1px transparent;
  cursor: pointer;
  height: 4rem;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s;
  background-color: #e5e5e5;
}
.menu-tabs ul li label::before, .menu-tabs ul li label::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  top: 0px;
}
.menu-tabs ul li label::before {
  background-color: #d1d1d1;
}
.menu-tabs ul li label::after {
  transform-origin: left;
  transition: transform 0.4s;
  transform: scalex(0);
}
.menu-tabs ul li label:hover:not(:checked) {
  background-color: #eeecec;
  background: linear-gradient(200deg, #eeecec 45%, #fff 95%);
}
.menu-tabs ul li label span {
  display: inline-block;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-tabs input:nth-of-type(1):checked ~ ul li:nth-child(1) label::after,
.menu-tabs input:nth-of-type(2):checked ~ ul li:nth-child(2) label::after,
.menu-tabs input:nth-of-type(3):checked ~ ul li:nth-child(3) label::after,
.menu-tabs input:nth-of-type(4):checked ~ ul li:nth-child(4) label::after {
  transform: scalex(1);
  background-color: #f28f18;
}
.menu-tabs input:nth-of-type(1):checked ~ ul > li:nth-child(1) > label,
.menu-tabs input:nth-of-type(2):checked ~ ul > li:nth-child(2) > label,
.menu-tabs input:nth-of-type(3):checked ~ ul > li:nth-child(3) > label,
.menu-tabs input:nth-of-type(4):checked ~ ul > li:nth-child(4) > label {
  cursor: default;
  background-color: white;
}
.menu-tabs input:nth-of-type(1):checked ~ .contenu-tabs > .section-tab:nth-child(1),
.menu-tabs input:nth-of-type(2):checked ~ .contenu-tabs > .section-tab:nth-child(2),
.menu-tabs input:nth-of-type(3):checked ~ .contenu-tabs > .section-tab:nth-child(3),
.menu-tabs input:nth-of-type(4):checked ~ .contenu-tabs > .section-tab:nth-child(4) {
  display: grid;
}

.contenu-tabs {
  background-color: white;
  min-height: 400px;
  padding: 1rem;
}

.section-tab {
  display: none;
  animation: anim-tabs 0.4s ease-in-out;
  margin-top: 2rem;
}

@keyframes anim-tabs {
  from {
    opacity: 0;
    transform: translatey(5%);
  }
  to {
    opacity: 1;
  }
}
/******************* tableaux *******************/
.dashboard-table {
  margin-bottom: 1rem;
  border-collapse: collapse;
}
.dashboard-table, .dashboard-table th, .dashboard-table td {
  border: 1px solid rgb(200, 200, 200);
  text-align: center;
  cursor: default;
}
.dashboard-table thead {
  background-color: var(--orange);
  color: #fff;
}
.dashboard-table tbody > tr:hover {
  background-color: rgb(255, 207, 149);
}
.dashboard-table td a {
  transition: all 1s ease-out;
}
.dashboard-table td a:hover {
  color: red;
}

#contact-tab .editable {
  color: red;
}
#contact-tab table {
  margin: 1rem auto;
}
#contact-tab table, #contact-tab table th, #contact-tab table td {
  padding: 1rem;
  border: 1px solid rgb(200, 200, 200);
  text-align: center;
  border-collapse: collapse;
}

#saveBtn {
  display: none;
}

/******************* formulaires *******************/
.dashboard-form form {
  width: 60%;
  margin: auto;
}
.dashboard-form form div:not(.buttons) {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.dashboard-form form textarea {
  height: 15rem;
}
.dashboard-form form img {
  width: 50%;
  margin: 1rem 0;
  border-radius: 10px;
  background-color: #fff;
}

/******************* general *******************/
:root {
  --orange-charte: #f28f18;
  --orange-select: rgb(255, 207, 149);
  --orange-clair: rgb(255, 242, 225);
  --vert: #004f12;
  --red: #E25B45;
  --orange: #FF8357;
  --yellow: #FAC172;
  --blue: #89D5C9;
  --green: #ADC865;
  --Pacifico: "Pacifico", cursive;
}

body * {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  background: -webkit-linear-gradient(217deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%), -webkit-linear-gradient(336deg, #ADC865, rgba(0, 255, 0, 0) 70.71%);
}

section:not(:last-child) {
  margin-bottom: 3rem;
}

main {
  margin: 0 auto;
}

.content {
  border-radius: 10px;
}

.container {
  padding: 3.3rem 0;
}

hr {
  margin: 3rem 10rem;
}

/******************* Fonts *******************/
h1, h2, h3, h4, h5, nav, .btn {
  font-family: "Pacifico", cursive;
  color: var(--vert);
  text-align: center;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, nav::first-letter, .btn::first-letter {
  text-transform: capitalize;
}

*::first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 2.3rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-stretch: expanded;
  overflow: hidden;
  text-align: center;
}

h2:nth-child(1)::first-letter {
  text-transform: capitalize;
}

h2::before, h2::after {
  background-color: var(--vert);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

h2::before {
  right: 1rem;
  margin-left: -10%;
}

h2::after {
  left: 1rem;
  margin-right: -10%;
}

h3 {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

a, a:active {
  text-decoration: none;
  color: inherit;
}

/******************* bouttons *******************/
.btn {
  padding: 0.1rem 0.4rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover:not(#forgot) {
  background: -webkit-linear-gradient(308deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%);
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/******************* croix *******************/
/* .croix{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
} */
.croix-btn {
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  background-color: var(--orange);
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all, 0.1s ease-in;
  position: absolute;
  top: 10px;
  right: 10px;
}

.croix-btn:hover, .croix-btn:active, .croix-btn:focus-visible {
  color: var(--orange);
  background-color: #fff;
}

/* .croix button:focus-visible{
    display: inherit;
} */
/******************* form *******************/
form label {
  text-transform: capitalize;
  font-weight: bold;
}

form input:not(.btn, .file), form form textarea, form form select {
  border: none;
  border-radius: 5px;
}

/******************* short *******************/
.short {
  height: 13rem;
  overflow: hidden;
  background: linear-gradient(180deg, #000 70%, transparent 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* hidden *******************/
.hidden {
  display: none;
}

/******************* timestamp *******************/
.timestamp {
  font-size: smaller;
  font-weight: bold;
  color: var(--vert);
  margin: 0;
  /* position: absolute;
  bottom: 0.5rem; */
}

.disabled {
  color: transparent;
}

.disabled:hover {
  cursor: default;
}

/******************* user *******************/
.userProfil {
  width: 80%;
  margin: auto;
}
.userProfil form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.userProfil form div {
  width: 60%;
}

/******************* general *******************/
:root {
  --orange-charte: #f28f18;
  --orange-select: rgb(255, 207, 149);
  --orange-clair: rgb(255, 242, 225);
  --vert: #004f12;
  --red: #E25B45;
  --orange: #FF8357;
  --yellow: #FAC172;
  --blue: #89D5C9;
  --green: #ADC865;
  --Pacifico: "Pacifico", cursive;
}

body * {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  background: -webkit-linear-gradient(217deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%), -webkit-linear-gradient(336deg, #ADC865, rgba(0, 255, 0, 0) 70.71%);
}

section:not(:last-child) {
  margin-bottom: 3rem;
}

main {
  margin: 0 auto;
}

.content {
  border-radius: 10px;
}

.container {
  padding: 3.3rem 0;
}

hr {
  margin: 3rem 10rem;
}

/******************* Fonts *******************/
h1, h2, h3, h4, h5, nav, .btn {
  font-family: "Pacifico", cursive;
  color: var(--vert);
  text-align: center;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, nav::first-letter, .btn::first-letter {
  text-transform: capitalize;
}

*::first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 2.3rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-stretch: expanded;
  overflow: hidden;
  text-align: center;
}

h2:nth-child(1)::first-letter {
  text-transform: capitalize;
}

h2::before, h2::after {
  background-color: var(--vert);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

h2::before {
  right: 1rem;
  margin-left: -10%;
}

h2::after {
  left: 1rem;
  margin-right: -10%;
}

h3 {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

a, a:active {
  text-decoration: none;
  color: inherit;
}

/******************* bouttons *******************/
.btn {
  padding: 0.1rem 0.4rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover:not(#forgot) {
  background: -webkit-linear-gradient(308deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%);
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/******************* croix *******************/
/* .croix{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
} */
.croix-btn {
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  background-color: var(--orange);
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all, 0.1s ease-in;
  position: absolute;
  top: 10px;
  right: 10px;
}

.croix-btn:hover, .croix-btn:active, .croix-btn:focus-visible {
  color: var(--orange);
  background-color: #fff;
}

/* .croix button:focus-visible{
    display: inherit;
} */
/******************* form *******************/
form label {
  text-transform: capitalize;
  font-weight: bold;
}

form input:not(.btn, .file), form form textarea, form form select {
  border: none;
  border-radius: 5px;
}

/******************* short *******************/
.short {
  height: 13rem;
  overflow: hidden;
  background: linear-gradient(180deg, #000 70%, transparent 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* hidden *******************/
.hidden {
  display: none;
}

/******************* timestamp *******************/
.timestamp {
  font-size: smaller;
  font-weight: bold;
  color: var(--vert);
  margin: 0;
  /* position: absolute;
  bottom: 0.5rem; */
}

.disabled {
  color: transparent;
}

.disabled:hover {
  cursor: default;
}

/******************* home *******************/
main {
  overflow: hidden;
}

.home {
  padding-top: 4rem;
}
.home:target {
  scroll-margin-top: 5rem;
}
.home:not(:last-child) {
  height: 100vh;
}

#home {
  background: url("../img/photo/OIG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#home h1 {
  margin: 0;
}
#home h1::after {
  content: url("../img/site/Logo pate.png");
}
#home h2 {
  margin-top: 0;
}
#home #title {
  padding: 0.8rem;
  background: radial-gradient(circle at 48.7% 44.3%, rgba(255, 255, 255, 0.49) 0%, rgba(252, 252, 252, 0) 80%);
  position: relative;
}
#home #title:hover:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 100%;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  animation: shine 5s infinite linear; /* Animation */
}
#home article {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#home #logo {
  height: 10rem;
  margin: 2rem;
}
#home table {
  background-color: rgba(255, 207, 149, 0.648);
  padding: 1rem;
  margin: 0 2rem;
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: -4px 13px 15px 7px rgba(0, 0, 0, 0.27);
}
#home table tr {
  height: 3rem;
  line-height: 1.8rem;
}
#home table tr:nth-child(odd) td:first-child {
  text-align: left;
}
#home table tr:nth-child(odd) td:last-child {
  text-align: right;
}
#home table tr:nth-child(even) td:first-child {
  text-align: right;
}
#home table tr:nth-child(even) td:last-child {
  text-align: left;
}
#home table td {
  padding: 0.5rem;
}
#home table td:nth-child(2) {
  width: 80%;
  font-family: var(--Pacifico);
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: var(--vert);
  text-align: justify;
}
#home table td:first-child, #home table td:last-child {
  width: 10%;
}

/******************* general *******************/
:root {
  --orange-charte: #f28f18;
  --orange-select: rgb(255, 207, 149);
  --orange-clair: rgb(255, 242, 225);
  --vert: #004f12;
  --red: #E25B45;
  --orange: #FF8357;
  --yellow: #FAC172;
  --blue: #89D5C9;
  --green: #ADC865;
  --Pacifico: "Pacifico", cursive;
}

body * {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  background: -webkit-linear-gradient(217deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%), -webkit-linear-gradient(336deg, #ADC865, rgba(0, 255, 0, 0) 70.71%);
}

section:not(:last-child) {
  margin-bottom: 3rem;
}

main {
  margin: 0 auto;
}

.content {
  border-radius: 10px;
}

.container {
  padding: 3.3rem 0;
}

hr {
  margin: 3rem 10rem;
}

/******************* Fonts *******************/
h1, h2, h3, h4, h5, nav, .btn {
  font-family: "Pacifico", cursive;
  color: var(--vert);
  text-align: center;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, nav::first-letter, .btn::first-letter {
  text-transform: capitalize;
}

*::first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 2.3rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-stretch: expanded;
  overflow: hidden;
  text-align: center;
}

h2:nth-child(1)::first-letter {
  text-transform: capitalize;
}

h2::before, h2::after {
  background-color: var(--vert);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

h2::before {
  right: 1rem;
  margin-left: -10%;
}

h2::after {
  left: 1rem;
  margin-right: -10%;
}

h3 {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

a, a:active {
  text-decoration: none;
  color: inherit;
}

/******************* bouttons *******************/
.btn {
  padding: 0.1rem 0.4rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover:not(#forgot) {
  background: -webkit-linear-gradient(308deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%);
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/******************* croix *******************/
/* .croix{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
} */
.croix-btn {
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  background-color: var(--orange);
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all, 0.1s ease-in;
  position: absolute;
  top: 10px;
  right: 10px;
}

.croix-btn:hover, .croix-btn:active, .croix-btn:focus-visible {
  color: var(--orange);
  background-color: #fff;
}

/* .croix button:focus-visible{
    display: inherit;
} */
/******************* form *******************/
form label {
  text-transform: capitalize;
  font-weight: bold;
}

form input:not(.btn, .file), form form textarea, form form select {
  border: none;
  border-radius: 5px;
}

/******************* short *******************/
.short {
  height: 13rem;
  overflow: hidden;
  background: linear-gradient(180deg, #000 70%, transparent 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* hidden *******************/
.hidden {
  display: none;
}

/******************* timestamp *******************/
.timestamp {
  font-size: smaller;
  font-weight: bold;
  color: var(--vert);
  margin: 0;
  /* position: absolute;
  bottom: 0.5rem; */
}

.disabled {
  color: transparent;
}

.disabled:hover {
  cursor: default;
}

/******************* shop *******************/
/******************* home *******************/
.shop-tuile {
  height: 12rem;
  width: 12rem;
  overflow: hidden;
  border: solid 1px transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.shop-tuile img {
  object-fit: cover;
  height: 12rem;
  width: 12rem;
  position: relative;
  transition: all 0.5s ease;
}
.shop-tuile:hover img {
  transform: scale(1.2);
}
.shop-tuile figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5254901961);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  text-align: justify;
  opacity: 0;
  transition: all 0.5s ease;
}
.shop-tuile:hover figcaption {
  opacity: 0.9;
}

/******************* index *******************/
.shop-cat div {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);
  grid-template-rows: repeat(auto-fill, 15rem);
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

#filter {
  display: flex;
  flex-direction: column;
  opacity: 0;
}

/******************* detail *******************/
.shop-detail {
  display: flex;
}
.shop-detail img {
  width: 50%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
.shop-detail figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.5254901961);
  border-radius: 0 10px 10px 0;
}

/******************* general *******************/
:root {
  --orange-charte: #f28f18;
  --orange-select: rgb(255, 207, 149);
  --orange-clair: rgb(255, 242, 225);
  --vert: #004f12;
  --red: #E25B45;
  --orange: #FF8357;
  --yellow: #FAC172;
  --blue: #89D5C9;
  --green: #ADC865;
  --Pacifico: "Pacifico", cursive;
}

body * {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  background: -webkit-linear-gradient(217deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%), -webkit-linear-gradient(336deg, #ADC865, rgba(0, 255, 0, 0) 70.71%);
}

section:not(:last-child) {
  margin-bottom: 3rem;
}

main {
  margin: 0 auto;
}

.content {
  border-radius: 10px;
}

.container {
  padding: 3.3rem 0;
}

hr {
  margin: 3rem 10rem;
}

/******************* Fonts *******************/
h1, h2, h3, h4, h5, nav, .btn {
  font-family: "Pacifico", cursive;
  color: var(--vert);
  text-align: center;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, nav::first-letter, .btn::first-letter {
  text-transform: capitalize;
}

*::first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 2.3rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-stretch: expanded;
  overflow: hidden;
  text-align: center;
}

h2:nth-child(1)::first-letter {
  text-transform: capitalize;
}

h2::before, h2::after {
  background-color: var(--vert);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

h2::before {
  right: 1rem;
  margin-left: -10%;
}

h2::after {
  left: 1rem;
  margin-right: -10%;
}

h3 {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

a, a:active {
  text-decoration: none;
  color: inherit;
}

/******************* bouttons *******************/
.btn {
  padding: 0.1rem 0.4rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover:not(#forgot) {
  background: -webkit-linear-gradient(308deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%);
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/******************* croix *******************/
/* .croix{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
} */
.croix-btn {
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  background-color: var(--orange);
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all, 0.1s ease-in;
  position: absolute;
  top: 10px;
  right: 10px;
}

.croix-btn:hover, .croix-btn:active, .croix-btn:focus-visible {
  color: var(--orange);
  background-color: #fff;
}

/* .croix button:focus-visible{
    display: inherit;
} */
/******************* form *******************/
form label {
  text-transform: capitalize;
  font-weight: bold;
}

form input:not(.btn, .file), form form textarea, form form select {
  border: none;
  border-radius: 5px;
}

/******************* short *******************/
.short {
  height: 13rem;
  overflow: hidden;
  background: linear-gradient(180deg, #000 70%, transparent 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* hidden *******************/
.hidden {
  display: none;
}

/******************* timestamp *******************/
.timestamp {
  font-size: smaller;
  font-weight: bold;
  color: var(--vert);
  margin: 0;
  /* position: absolute;
  bottom: 0.5rem; */
}

.disabled {
  color: transparent;
}

.disabled:hover {
  cursor: default;
}

/******************* contact *******************/
/******************* index *******************/
.contact {
  width: 60%;
  padding: 2rem;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 3rem;
}
.contact table {
  background-color: rgb(255, 242, 225);
  text-align: center;
  cursor: default;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.contact table th {
  background-color: var(--orange);
  color: #fff;
  padding: 0.5rem 0;
  border: 1px solid rgb(200, 200, 200);
}
.contact table td {
  padding: 0.5rem;
  border: 1px solid rgb(200, 200, 200);
}
.contact table td:first-child {
  background-color: var(--orange);
  color: #fff;
  width: 15%;
}
.contact table td:nth-child(2), .contact table td:nth-child(3) {
  width: 20%;
}
.contact table td:nth-child(4) {
  width: 45%;
}
.contact table tr:hover:not(th) {
  background-color: rgb(255, 207, 149);
}
.contact .map {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.contact .map div {
  padding: 2rem 2rem 4rem 4rem;
  text-align: center;
  margin: auto;
}
.contact .map iframe {
  border-radius: 10px;
}

/******************* general *******************/
:root {
  --orange-charte: #f28f18;
  --orange-select: rgb(255, 207, 149);
  --orange-clair: rgb(255, 242, 225);
  --vert: #004f12;
  --red: #E25B45;
  --orange: #FF8357;
  --yellow: #FAC172;
  --blue: #89D5C9;
  --green: #ADC865;
  --Pacifico: "Pacifico", cursive;
}

body * {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  background: -webkit-linear-gradient(217deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%), -webkit-linear-gradient(336deg, #ADC865, rgba(0, 255, 0, 0) 70.71%);
}

section:not(:last-child) {
  margin-bottom: 3rem;
}

main {
  margin: 0 auto;
}

.content {
  border-radius: 10px;
}

.container {
  padding: 3.3rem 0;
}

hr {
  margin: 3rem 10rem;
}

/******************* Fonts *******************/
h1, h2, h3, h4, h5, nav, .btn {
  font-family: "Pacifico", cursive;
  color: var(--vert);
  text-align: center;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, nav::first-letter, .btn::first-letter {
  text-transform: capitalize;
}

*::first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 2.3rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-stretch: expanded;
  overflow: hidden;
  text-align: center;
}

h2:nth-child(1)::first-letter {
  text-transform: capitalize;
}

h2::before, h2::after {
  background-color: var(--vert);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

h2::before {
  right: 1rem;
  margin-left: -10%;
}

h2::after {
  left: 1rem;
  margin-right: -10%;
}

h3 {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

a, a:active {
  text-decoration: none;
  color: inherit;
}

/******************* bouttons *******************/
.btn {
  padding: 0.1rem 0.4rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover:not(#forgot) {
  background: -webkit-linear-gradient(308deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%);
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/******************* croix *******************/
/* .croix{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
} */
.croix-btn {
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  background-color: var(--orange);
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all, 0.1s ease-in;
  position: absolute;
  top: 10px;
  right: 10px;
}

.croix-btn:hover, .croix-btn:active, .croix-btn:focus-visible {
  color: var(--orange);
  background-color: #fff;
}

/* .croix button:focus-visible{
    display: inherit;
} */
/******************* form *******************/
form label {
  text-transform: capitalize;
  font-weight: bold;
}

form input:not(.btn, .file), form form textarea, form form select {
  border: none;
  border-radius: 5px;
}

/******************* short *******************/
.short {
  height: 13rem;
  overflow: hidden;
  background: linear-gradient(180deg, #000 70%, transparent 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* hidden *******************/
.hidden {
  display: none;
}

/******************* timestamp *******************/
.timestamp {
  font-size: smaller;
  font-weight: bold;
  color: var(--vert);
  margin: 0;
  /* position: absolute;
  bottom: 0.5rem; */
}

.disabled {
  color: transparent;
}

.disabled:hover {
  cursor: default;
}

/******************* general *******************/
/******************* alert *******************/
.success {
  position: fixed;
  top: 2.2rem;
  left: 40%;
  right: 40%;
  text-align: center;
  color: #fff;
  background: -webkit-linear-gradient(0deg, rgba(255, 0, 0, 0) 0%, #ADC865 50%, rgba(255, 0, 0, 0) 100%);
  text-align: center;
  padding: 0.2rem;
}

/******************* loggin *******************/
#modal {
  background-color: rgba(255, 255, 255, 0.3411764706);
  backdrop-filter: blur(5px);
  position: fixed;
  background-size: 200%;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10%;
  z-index: 200;
  display: none;
}

#log-window, #register-window {
  display: none;
}

.log {
  width: 30vw;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  font-size: 0.7rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--orange);
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.6392156863);
  z-index: 100;
}
.log .btn {
  width: 100%;
  margin: auto;
}
.log form {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.log form input:not(.checkbox) {
  width: 100%;
}
.log form label {
  color: #fff;
}
.log form .champs {
  margin-bottom: 1rem;
}

.error {
  color: #fff;
  background: -webkit-linear-gradient(0deg, rgba(255, 0, 0, 0) 0%, #E25B45 50%, rgba(255, 0, 0, 0) 90%);
  text-align: center;
}

.password div {
  position: relative;
  overflow: hidden;
}
.password i {
  color: var(--vert);
  position: absolute;
  right: 0;
  width: 10%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.password i:hover, .password i:active {
  background: -webkit-linear-gradient(0deg, rgba(255, 0, 0, 0) 0%, #FAC172 25%);
}
.password a {
  display: inline-block;
  text-align: right;
  width: 100%;
}

#forgot:hover {
  background: -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%);
}

.trans-btn {
  width: 80%;
  transition: all 0.5s ease-out;
}
.trans-btn p {
  display: block;
}
.trans-btn a {
  display: none;
}
.trans-btn:hover p {
  display: none;
}
.trans-btn:hover a {
  display: block;
}

/******************* general *******************/
:root {
  --orange-charte: #f28f18;
  --orange-select: rgb(255, 207, 149);
  --orange-clair: rgb(255, 242, 225);
  --vert: #004f12;
  --red: #E25B45;
  --orange: #FF8357;
  --yellow: #FAC172;
  --blue: #89D5C9;
  --green: #ADC865;
  --Pacifico: "Pacifico", cursive;
}

body * {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  background: -webkit-linear-gradient(217deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%), -webkit-linear-gradient(336deg, #ADC865, rgba(0, 255, 0, 0) 70.71%);
}

section:not(:last-child) {
  margin-bottom: 3rem;
}

main {
  margin: 0 auto;
}

.content {
  border-radius: 10px;
}

.container {
  padding: 3.3rem 0;
}

hr {
  margin: 3rem 10rem;
}

/******************* Fonts *******************/
h1, h2, h3, h4, h5, nav, .btn {
  font-family: "Pacifico", cursive;
  color: var(--vert);
  text-align: center;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, nav::first-letter, .btn::first-letter {
  text-transform: capitalize;
}

*::first-letter {
  text-transform: capitalize;
}

h1 {
  font-size: 2.3rem;
  line-height: 5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 3rem;
  font-stretch: expanded;
  overflow: hidden;
  text-align: center;
}

h2:nth-child(1)::first-letter {
  text-transform: capitalize;
}

h2::before, h2::after {
  background-color: var(--vert);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 10%;
}

h2::before {
  right: 1rem;
  margin-left: -10%;
}

h2::after {
  left: 1rem;
  margin-right: -10%;
}

h3 {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

a, a:active {
  text-decoration: none;
  color: inherit;
}

/******************* bouttons *******************/
.btn {
  padding: 0.1rem 0.4rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn:hover:not(#forgot) {
  background: -webkit-linear-gradient(308deg, #E25B45, rgba(255, 0, 0, 0) 70.71%), -webkit-linear-gradient(127deg, #FAC172, rgba(0, 255, 0, 0) 70.71%);
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/******************* croix *******************/
/* .croix{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
} */
.croix-btn {
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  background-color: var(--orange);
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all, 0.1s ease-in;
  position: absolute;
  top: 10px;
  right: 10px;
}

.croix-btn:hover, .croix-btn:active, .croix-btn:focus-visible {
  color: var(--orange);
  background-color: #fff;
}

/* .croix button:focus-visible{
    display: inherit;
} */
/******************* form *******************/
form label {
  text-transform: capitalize;
  font-weight: bold;
}

form input:not(.btn, .file), form form textarea, form form select {
  border: none;
  border-radius: 5px;
}

/******************* short *******************/
.short {
  height: 13rem;
  overflow: hidden;
  background: linear-gradient(180deg, #000 70%, transparent 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******************* hidden *******************/
.hidden {
  display: none;
}

/******************* timestamp *******************/
.timestamp {
  font-size: smaller;
  font-weight: bold;
  color: var(--vert);
  margin: 0;
  /* position: absolute;
  bottom: 0.5rem; */
}

.disabled {
  color: transparent;
}

.disabled:hover {
  cursor: default;
}

/******************* animations *******************/
/******************* sliders animation on scrolling *******************/
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.revealR {
  position: relative;
  transform: translateY(150px);
  transform: translateX(-150px);
  opacity: 0;
  transition: 2s all ease;
}

.revealL {
  position: relative;
  transform: translateY(150px);
  transform: translateX(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active, .revealR.active, .revealL.active {
  transform: translateY(0);
  opacity: 1;
}

/******************* title move through nav *******************/
.move-up {
  animation: move-up 1.2s both;
  transition: transform 0.5s ease-in-out, opacity 1.2s ease-in-out;
}

@keyframes move-up {
  0% {
    transform: translateY(13px);
    scale: 2;
    animation-timing-function: ease-in;
    opacity: 0.1;
  }
  100% {
    scale: 1;
    animation-timing-function: ease-in;
    opacity: 1;
  }
}
.move-out {
  animation: move-out 0.8s both;
}

@keyframes move-out {
  0% {
    transform: translateY(0px);
    scale: 1;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  100% {
    transform: translateY(-15px);
    scale: 2;
    animation-timing-function: ease-out;
    opacity: 0;
  }
}
/******************* shiny effect *******************/
@keyframes shine {
  0% {
    left: -100px;
    opacity: 0.1;
  }
  20% {
    left: 100%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0.1;
  }
}

/*# sourceMappingURL=main.css.map */
