/******************* shop *******************/

:root{
    --orange: rgb(242, 143, 24);
    --vert: rgb(0, 79, 18);
}

/******************* index *******************/

.shop-cat{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-template-rows: repeat(auto-fill, 15rem);
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.shop-tuile{
    height: 12rem;
    width: 12rem;
    overflow: hidden;
    border: solid 1px transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.shop-tuile img{
    object-fit: cover;
    height: 12rem;
    width: 12rem;
    position: relative;
    transition: all .5s ease;
}
.shop-tuile:hover img{
    transform: scale(1.2);
}
.shop-tuile figcaption{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #ffffff86;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    text-align: justify;
    opacity: 0;
    transition: all .5s ease;
}
.shop-tuile:hover figcaption{
    opacity: .9;
}

/******************* detail *******************/

.shop-detail{
    display: flex;
}

.shop-detail img{
    width: 50%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.shop-detail figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 50%;
    background-color: #ffffff86;
    border-radius: 0 10px 10px 0;
}