/******************* general *******************/

:root{
    --orange: rgb(242, 143, 24);
    --vert: rgb(0, 79, 18);
}

body *{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--orange);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul, nav li{
    list-style: none;
    display: flex;
    padding: 0;
}

nav a{
    padding: 1rem;
}

section{
    margin-bottom: 3rem ;
}

main{
    width: 90%;
    margin: 0 auto;
}

.content{
    background-color: #ffffff57;
    padding: 1rem;
    border-radius: 10px;
}

hr{
    margin: 3rem 10rem;
}

/******************* Fonts *******************/

h1, h2, h3, h4, h5, nav, .btn {
    font-family: 'Pacifico', cursive;
    color: var(--vert);
    text-align: center;
}

*::first-letter {
    text-transform: capitalize;
}

h1{
    font-size: 2.5rem;
    line-height: 8rem;
    margin-bottom: 3rem;
}

h2{
    font-size: 1.5rem;
    line-height: 3rem;
    overflow: hidden;
    text-align: center;
}
h2:first-child{
    text-transform: capitalize;
}
h2:before,
h2:after {
    background-color: var(--vert);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10%;
}
h2:before {
    right: 1rem;
    margin-left: -10%;
}
h2:after {
    left: 1rem;
    margin-right: -10%;
}

h3{
    font-size: 1.2rem;
    line-height: 2.5rem;
}

a, a:active{
    text-decoration: none;
    color: inherit;
}

/******************* boutton *******************/

.btn{
    padding: 0.5rem;
    margin: 1rem;
    color: var(--vert);
    border: solid var(--vert) 1px ;
    border-radius: 5px;
    transition: all, 0.2s ease-in;
}

.btn:hover, .btn:active{
    color: #fff;
    border: solid var(--orange) 1px ;
    background-color: var(--vert);
}

/******************* form *******************/
form label{
    text-transform: capitalize;
    font-weight: bold;
}

form input:not(.btn, .file), form textarea, form select{
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #00000085;
}

form div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 1rem;
}

/******************* short *******************/
.short{
    height: 13rem;
    overflow: hidden;
    background: linear-gradient(
        180deg,
        #000 70%,
        transparent 90%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/******************* hidden *******************/
.hidden{
display: none;
}

/******************* timestamp *******************/
.timestamp {
    font-size: smaller;
    font-weight: bold;
    color: var(--vert);
    margin: 0;
    position: absolute;
    bottom: 0.5rem;
}

/******************* alert *******************/

.alert{
    width: 20vw;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--orange);
    box-shadow: 2px 2px 15px 2px #000000a3;
}
.error{
    color: red;
}

.success{
    color: green;
}

.log{
    width: 50vw;
    margin: auto;
    position: absolute;
    left: 20%;
    right: 20%;
    font-size: 0.7rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--orange);
    box-shadow: 2px 2px 15px 2px #000000a3;
    z-index: 100;
}
.log .btn{
    margin: 0 auto;
}

/******************* news *******************/

.news-index{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.news-short{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    overflow: hidden;
    position: relative;
}

.news-short img{
    height: 20rem;
    border-radius: 10px 0 0 10px;
}

.news-short figcaption{
    padding: 1rem;
}

.more{
    position: absolute;
    color: #fff;
    /* background-color: var(--vert); */
    background: linear-gradient(
        270deg,
        var(--orange) 60%,
        transparent 100%
    );
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
    background-size: 150%;
    transition: all, .5s ease-out;
}
.more p{
    padding-right: 1rem;
    line-height: 2rem;
}
.more p:last-child{
    opacity: 0;
    transition: all .5s ease-in-out;
}
.more div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 5rem;
    position: relative;
    overflow: hidden;
    transition: all, .5s ease-out;
}
.more:hover{
    background-position: left;
    width: 50%;
}
.more:hover > div > p:last-child{
    opacity: 1;
    transform: scale(1.5);
}

/******************* shop *******************/

/* .shop-view{
    display: flex;
    flex-wrap: wrap;
}

.shop-cat{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
    grid-template-rows: repeat(auto-fill, 15rem);
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
} */

.shop-tuile{
    height: 12rem;
    width: 12rem;
    overflow: hidden;
    border: solid 1px transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.shop-tuile img{
    object-fit: cover;
    height: 12rem;
    width: 12rem;
    position: relative;
    transition: all .5s ease;
}
.shop-tuile:hover img{
    transform: scale(1.2);
}
.shop-tuile figcaption{
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    background-color: #ffffff86;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    text-align: justify;
    opacity: 0;
    transition: all .5s ease;
}
.shop-tuile:hover figcaption{
    opacity: .9;
}


/******************* dashboard *******************/

.menu-tabs ul{
padding-left:0;
margin:0;
list-style-type: none;
border-radius: 10px;
}	

.menu-tabs{
background-color: white;
max-width: 960px;
margin: 2rem auto;
border-radius: 10px;
}	

.menu-tabs> ul {
display: flex;
/* overflow-x: auto; */
/* scrollbar-width:thin; */
/* overscroll-behavior-inline: contain; */
/* scroll-snap-type: x mandatory; */
/* scroll-snap-type: inline mandatory; */
/* scroll-padding:3rem; */
}

.menu-tabs> ul li{
	/* scroll-snap-align: start; */
	flex: 0 0 25%;
}

.menu-tabs> ul li label{
display: flex;
position: relative;
cursor: pointer;
height: 4rem;
align-items: center;
justify-content:center;
transition: background-color .4s;
background-color: #e5e5e5;
/* border-radius: 10px; */
}

.menu-tabs> ul li label span{
	display:inline-block;
	max-width:90%;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.menu-tabs> ul li label::before,
.menu-tabs> ul li label::after{
	position:absolute;
	content:'';
	height:4px;
	width:100%;
	top:0px;
}

.menu-tabs> ul li label::before{
background-color: #d1d1d1;
}

.menu-tabs> ul li label::after{
transform-origin: left;
transition: transform .4s;
transform: scalex(0)
}	

.menu-tabs input:nth-of-type(1):checked ~ ul li:nth-child(1) label::after,
.menu-tabs input:nth-of-type(2):checked ~ ul li:nth-child(2) label::after,
.menu-tabs input:nth-of-type(3):checked ~ ul li:nth-child(3) label::after,
.menu-tabs input:nth-of-type(4):checked ~ ul li:nth-child(4) label::after{
	transform:scalex(1);
	background-color:#6753ea;
}	

.menu-tabs input:nth-of-type(1):checked ~ ul > li:nth-child(1) > label,
.menu-tabs input:nth-of-type(2):checked ~ ul > li:nth-child(2) > label,
.menu-tabs input:nth-of-type(3):checked ~ ul > li:nth-child(3) > label,
.menu-tabs input:nth-of-type(4):checked ~ ul > li:nth-child(4) > label{
	cursor: default;
	background-color: initial;
}		

.menu-tabs input:nth-of-type(1):checked ~ .contenu-tabs > .section-tab:nth-child(1),
.menu-tabs input:nth-of-type(2):checked ~ .contenu-tabs > .section-tab:nth-child(2),
.menu-tabs input:nth-of-type(3):checked ~ .contenu-tabs > .section-tab:nth-child(3),
.menu-tabs input:nth-of-type(4):checked ~ .contenu-tabs > .section-tab:nth-child(4){
display:grid;
}	

.contenu-tabs{
min-height:400px;
padding:1rem;
}	

.section-tab{
	display:none;
	animation: anim-tabs .4s ease-in-out;
	margin-top:2rem;
}	

@keyframes anim-tabs{
	from{
	opacity: 0;
	transform: translatey(5%)
}
	to{
		opacity:1
    }
}

.dashboard-table, th, td{
    border: 1px solid rgb(200, 200, 200);
    text-align: center;
}
