/******************* user *******************/

:root{
    --orange: rgb(242, 143, 24);
    --vert: rgb(0, 79, 18);
}

.user-profil{
    width: 80%;
    margin: auto;
}

.user-profil form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profil form div{
    width: 60%;
}